#!/usr/bin/env ruby
require 'erb'

template = ERB.new DATA.read
File.open('./tmp/control_charts.html', 'w') {|_| _.puts template.result binding }

__END__

<html>
<head>
  <style type="text/css">
    img { width: 33%; height: 33%; float: left; } */
  </style>
<head>
<body>
  <% Dir['./tmp/*.png'].sort_by {|_| _[/-*\d+/].to_f }.reverse.each do |control_chart|%>
    <a href="<%= File.basename control_chart %>">
      <img src="<%= File.basename control_chart %>"/>
    </a>
  <% end %>
</body>
